# Oops - Object Oreinted Programming System

OOPs üëç
It is a programming approach to write in proper structure using class and objects.


features:

reduce code repeation
reusability
proper structure
flexibility
real time object 
colabration


class syntax üëç

class A:
    properties / func / behaviour


syntax for object üëç

ob_name = cname()

In [ ]:
class Bank:
    bname="Sbi"
    loc="Noida"
    manager="Ravi Kumar"

emp=Bank()
cus=Bank()
print("---------------------------------------------")
# Access with Class 
print("Bank Name:", Bank.bname)
print("Location:", Bank.loc)     
print("Manager:", Bank.manager)
print("---------------------------------------------")
#access with object
print("Bank Name:", emp.bname)
print("Location:", emp.loc)     
print("Manager:", emp.manager)
print("---------------------------------------------")
#access with object
print("Bank Name:", cus.bname)
print("Location:", cus.loc)     
print("Manager:", cus.manager)
print("---------------------------------------------")

# modify the bank name and location using class

Bank.bname="HDFC"
Bank.loc="Delhi"
print("---------------------------------------------")
# Access with Class 
print("Bank Name:", Bank.bname)
print("Location:", Bank.loc)     
print("Manager:", Bank.manager)
print("---------------------------------------------")
#access with object
print("Bank Name:", emp.bname)
print("Location:", emp.loc)     
print("Manager:", emp.manager)
print("---------------------------------------------")
#access with object
print("Bank Name:", cus.bname)
print("Location:", cus.loc)     
print("Manager:", cus.manager)
print("---------------------------------------------")


emp.bname="Sbi"
cus.loc= "Mumbai"



print("---------------------------------------------")
# Access with Class
print("class member :") 
print("Bank Name:", Bank.bname)
print("Location:", Bank.loc)     
print("Manager:", Bank.manager)
print("---------------------------------------------")

#access with object
print("Emp details :")
print("Bank Name:", emp.bname)
print("Location:", emp.loc)     
print("Manager:", emp.manager)
print("---------------------------------------------")
#access with object
print("Cus details :")
print("Bank Name:", cus.bname)
print("Location:", cus.loc)     
print("Manager:", cus.manager)
print("---------------------------------------------")

---------------------------------------------
Bank Name: Sbi
Location: Noida
Manager: Ravi Kumar
---------------------------------------------
Bank Name: Sbi
Location: Noida
Manager: Ravi Kumar
---------------------------------------------
Bank Name: Sbi
Location: Noida
Manager: Ravi Kumar
---------------------------------------------
---------------------------------------------
Bank Name: HDFC
Location: Delhi
Manager: Ravi Kumar
---------------------------------------------
Bank Name: HDFC
Location: Delhi
Manager: Ravi Kumar
---------------------------------------------
Bank Name: HDFC
Location: Delhi
Manager: Ravi Kumar
---------------------------------------------
---------------------------------------------
class member :
Bank Name: HDFC
Location: Delhi
Manager: Ravi Kumar
---------------------------------------------
Emp details :
Bank Name: Sbi
Location: Delhi
Manager: Ravi Kumar
---------------------------------------------
Cus details :
Bank Name: HDFC
Location: Mumbai
Manager: Ravi Kumar
---------------------------------------------

In [4]:
class School:
    sname="UMV"
    sloc="Noida"
    smarkets="CBSE"
ankit=School()
rohit=School()
anuj=School()
suraj=School()
print("---------------------------------------------")
print("Object 1 details :")
ankit.name="Ankit"
ankit.email="an@gmail.com"
ankit.no="9876543210"

print("School name :",School.sname)
print("School location :",School.sloc)
print("School markets :",School.smarkets)

print("Student Name:",ankit.name)
print("Student Email:",ankit.email)
print("Student No:",ankit.no)

print("---------------------------------------------")
print("Object 2 details :")
rohit.name="Rohit"
rohit.email="ro@gmail.com"
rohit.no="8765432109"

print("School name :",School.sname)
print("School location :",School.sloc)
print("School markets :",School.smarkets)

print("Student Name:",rohit.name)
print("Student Email:",rohit.email)
print("Student No:",rohit.no)

print("---------------------------------------------")  
print("Object 3 details :")
anuj.name="Anuj"
anuj.email="an@gmail.com"
anuj.no="9876543210"

print("School name :",School.sname)
print("School location :",School.sloc)
print("School markets :",School.smarkets)

print("Student Name:",anuj.name)
print("Student Email:",anuj.email)
print("Student No:",anuj.no)

print("---------------------------------------------")
print("Object 4 details :")
suraj.name="Suraj"
suraj.email="su@gmail.com"
suraj.no="8765432109"

print("School name :",School.sname)
print("School location :",School.sloc)
print("School markets :",School.smarkets)

print("Student Name:",suraj.name)
print("Student Email:",suraj.email)
print("Student No:",suraj.no)
print("---------------------------------------------")

---------------------------------------------
Object 1 details :
School name : UMV
School location : Noida
School markets : CBSE
Student Name: Ankit
Student Email: an@gmail.com
Student No: 9876543210
---------------------------------------------
Object 2 details :
School name : UMV
School location : Noida
School markets : CBSE
Student Name: Rohit
Student Email: ro@gmail.com
Student No: 8765432109
---------------------------------------------
Object 3 details :
School name : UMV
School location : Noida
School markets : CBSE
Student Name: Anuj
Student Email: an@gmail.com
Student No: 9876543210
---------------------------------------------
Object 4 details :
School name : UMV
School location : Noida
School markets : CBSE
Student Name: Suraj
Student Email: su@gmail.com
Student No: 8765432109
---------------------------------------------

# __init__ method
 -- It is known as initialization method.
 -- It is used to initialise the object member.
 -- Pass __init__ metthod compulsary.
 -- don't need to call init method out the class. 



Syntax üëç

class cname:
    property
    def __init__(self,var1,var2,............):
        self.var1 = var1
        self.var2 = var2
        .
        .
        .

obj = cname(val1,val2,............)


# types of method üëç

* class method : 
-- It is used to access and modify class members.
-- While declaring class method we should pass class decorator. @classmethod
-- pass first parameter (cls)

* Object Method : 
-- It is used to access and modify object members.
-- We will pass first argument self.
-- Not use decorator

* Static Method üëç
-- It does not belong any class method and object method, But it acts as helper method.
-- while declaring static method we will pass first @.

In [14]:
class Company:
    cname= "Qspider"
    cloc = "Noida"
    chead = "Shambhu Sir"
    def __init__(self, ename, eid,email,role):
        self.ename =ename 
        self.eid = eid 
        self.email = email
        self.role = role
    def display(self):
        print("---------------------------------------------")
        print("Company Details :")
        print(" ")
        print("Company Name :",Company.cname)
        print("Company Location :",Company.cloc)
        print("Company Head :",Company.chead)
        print("---------------------------------------------")
        print("Employee Details :")
        print(" ")
        print("Employee Name :",self.ename)
        print("Employee ID :",self.eid)
        print("Employee Email :",self.email)
        print("Employee Role :",self.role)
        print("---------------------------------------------")

emp1 = Company("Ankit",12,"Ankit@gmail.com","Project_Manager")
emp2 = Company("Anuj",13,"Anuj@gmail.com","Project_Leader")
emp3 = Company("Suraj",15,"Suraj@gmail.com","Senior Developer")
emp4 = Company("Shaad",16,"Shaad@gmail.com","Project_Head")
emp5 = Company("Shekhar",19,"Shekhar@gmail.com","Mobile Developer")
emp6 = Company("Shiv",18,"Shiv@gmail.com","Jr. Developer")

In [11]:
print("Company Details:")
print("-----------------")
print("Company Name:", Company.cname)
print("Company Location:", Company.cloc)
print("Company Head:", Company.chead)
print("---------------------------------------------")
print("Employee 1 Details:")
print("Employee Name:",emp1.ename)
print("Employee ID:",emp1.eid)
print("Employee Email:",emp1.email)
print("Employee Role:",emp1.role)
print("---------------------------------------------")
print("Employee 2 Details:")
print("Employee Name:",emp2.ename)
print("Employee ID:",emp2.eid)
print("Employee Email:",emp2.email)
print("Employee Role:",emp2.role)
print("---------------------------------------------")
print("Employee 3 Details:")
print("Employee Name:",emp3.ename)
print("Employee ID:",emp3.eid)
print("Employee Email:",emp3.email)
print("Employee Role:",emp3.role)
print("---------------------------------------------")
print("Employee 4 Details:")
print("Employee Name:",emp4.ename)
print("Employee ID:",emp4.eid)
print("Employee Email:",emp4.email)
print("Employee Role:",emp4.role)
print("---------------------------------------------")
print("Employee 5 Details:")
print("Employee Name:",emp5.ename)
print("Employee ID:",emp5.eid)
print("Employee Email:",emp5.email)
print("Employee Role:",emp5.role)
print("---------------------------------------------")
print("Employee 6 Details:")    
print("Employee Name:",emp6.ename)
print("Employee ID:",emp6.eid)
print("Employee Email:",emp6.email)
print("Employee Role:",emp6.role)
print("---------------------------------------------")

Company Details:
-----------------
Company Name: Qspider
Company Location: Noida
Company Head: Shambhu Sir
---------------------------------------------
Employee 1 Details:
Employee Name: Ankit
Employee ID: 12
Employee Email: Ankit@gmail.com
Employee Role: Project_Manager
---------------------------------------------
Employee 2 Details:
Employee Name: Anuj
Employee ID: 13
Employee Email: Anuj@gmail.com
Employee Role: Project_Leader
---------------------------------------------
Employee 3 Details:
Employee Name: Suraj
Employee ID: 15
Employee Email: Suraj@gmail.com
Employee Role: Senior Developer
---------------------------------------------
Employee 4 Details:
Employee Name: Shaad
Employee ID: 16
Employee Email: Shaad@gmail.com
Employee Role: Project_Head
---------------------------------------------
Employee 5 Details:
Employee Name: Shekhar
Employee ID: 19
Employee Email: Shekhar@gmail.com
Employee Role: Mobile Developer
---------------------------------------------
Employee 6 Details:
Employee Name: Shiv
Employee ID: 18
Employee Email: Shiv@gmail.com
Employee Role: Jr. Developer
---------------------------------------------

In [15]:
emp1.display()
emp2.display()
emp3.display()
emp4.display()
emp5.display()
emp6.display()

---------------------------------------------
Company Details :

Company Name : Qspider
Company Location : Noida
Company Head : Shambhu Sir
---------------------------------------------
Employee Details :

Employee Name : Ankit
Employee ID : 12
Employee Email : Ankit@gmail.com
Employee Role : Project_Manager
---------------------------------------------
---------------------------------------------
Company Details :

Company Name : Qspider
Company Location : Noida
Company Head : Shambhu Sir
---------------------------------------------
Employee Details :

Employee Name : Anuj
Employee ID : 13
Employee Email : Anuj@gmail.com
Employee Role : Project_Leader
---------------------------------------------
---------------------------------------------
Company Details :

Company Name : Qspider
Company Location : Noida
Company Head : Shambhu Sir
---------------------------------------------
Employee Details :

Employee Name : Suraj
Employee ID : 15
Employee Email : Suraj@gmail.com
Employee Role : Senior Developer
---------------------------------------------
---------------------------------------------
Company Details :

Company Name : Qspider
Company Location : Noida
Company Head : Shambhu Sir
---------------------------------------------
Employee Details :

Employee Name : Shaad
Employee ID : 16
Employee Email : Shaad@gmail.com
Employee Role : Project_Head
---------------------------------------------
---------------------------------------------
Company Details :

Company Name : Qspider
Company Location : Noida
Company Head : Shambhu Sir
---------------------------------------------
Employee Details :

Employee Name : Shekhar
Employee ID : 19
Employee Email : Shekhar@gmail.com
Employee Role : Mobile Developer
---------------------------------------------
---------------------------------------------
Company Details :

Company Name : Qspider
Company Location : Noida
Company Head : Shambhu Sir
---------------------------------------------
Employee Details :

Employee Name : Shiv
Employee ID : 18
Employee Email : Shiv@gmail.com
Employee Role : Jr. Developer
---------------------------------------------

In [12]:
# create a class Bank with 3 class properties and 3 object members with 3 object properties  with modification

class Bank:
    bname="Sbi"
    loc="Noida"
    bhead="Ankit"
    website = "sbi.com"
    helpline=123456789

    def __init__(self,name,age,balance):
        self.name=name
        self.age=age
        self.balance=balance
    
    def ch_name(self,new_name):
        self.name=new_name
    
    def ch_age(self,new_age):
        self.age=new_age
    
    def ch_balance(self,new_balance):
        self.balance=new_balance
    
    
    @classmethod
    def ch_bhead(cls,new_name):
        cls.bhead = new_name
    @classmethod
    def ch_loc(cls,new_loc):
        cls.loc = new_loc
    
    
    
    
    def show(self):
        print("---------------------------------------------")
        print("Bank Details :")
        print(" ")
        print("Bank Name :",Bank.bname)
        print("Bank Location :",Bank.loc)
        print("Bank Head :",Bank.bhead)
        print("Bank website :",Bank.website)
        print("Bank Helpline :",Bank.helpline)
        print("---------------------------------------------")
        print("Customer Details :")
        print(" ")
        print("Customer Name :",self.name)
        print("Customer Age :",self.age)
        print("Customer Balance :",self.balance)
        print("---------------------------------------------")

cus1=Bank("Suraj",22,3500000)
cus2=Bank("Ankit",22,3500000)
cus3=Bank("Anuj",22,3500000)

In [7]:
cus1.show()

---------------------------------------------
Bank Details :

Bank Name : Sbi
Bank Location : Noida
Bank Head : Ankit
Bank website : sbi.com
Bank Helpline : 123456789
---------------------------------------------
Customer Details :

Customer Name : Suraj
Customer Age : 22
Customer Balance : 3500000
---------------------------------------------

In [8]:
cus2.show()

---------------------------------------------
Bank Details :

Bank Name : Sbi
Bank Location : Noida
Bank Head : Ankit
Bank website : sbi.com
Bank Helpline : 123456789
---------------------------------------------
Customer Details :

Customer Name : Ankit
Customer Age : 22
Customer Balance : 3500000
---------------------------------------------

In [9]:
cus3.show()

---------------------------------------------
Bank Details :

Bank Name : Sbi
Bank Location : Noida
Bank Head : Ankit
Bank website : sbi.com
Bank Helpline : 123456789
---------------------------------------------
Customer Details :

Customer Name : Anuj
Customer Age : 22
Customer Balance : 3500000
---------------------------------------------

In [15]:
cus1.show()
Bank.ch_bhead("Neeraj Modi")
cus1.ch_name("Suyash")
cus1.show()

---------------------------------------------
Bank Details :

Bank Name : Sbi
Bank Location : Noida
Bank Head : Neeraj Modi
Bank website : sbi.com
Bank Helpline : 123456789
---------------------------------------------
Customer Details :

Customer Name : Suraj
Customer Age : 22
Customer Balance : 3500000
---------------------------------------------
---------------------------------------------
Bank Details :

Bank Name : Sbi
Bank Location : Noida
Bank Head : Neeraj Modi
Bank website : sbi.com
Bank Helpline : 123456789
---------------------------------------------
Customer Details :

Customer Name : Suyash
Customer Age : 22
Customer Balance : 3500000
---------------------------------------------

In [4]:
class A:
    a=10
    b=20
    @classmethod
    def display(cls):
        print("Class method called")
        print("a:",cls.a)
        print("b:",cls.b)
ob1=A()
class B(A):
    a=30
    d=40
    def __init__(self,n):
        self.n=n 
ob2=B(50)
print("---------------------------------------------")
print(A.a,B.b)

---------------------------------------------
10 20